[2019-10-11 15:58] ibotty opened #9 "podman --setuidname does not set resolv.conf"
I am running the latest podman from the projectatomic ppa repository:
podman 1.6.1-1~ubuntu18.04~ppa3
containernetworking-plugins 0.8.2-1~ubuntu18.04~ppa3
and dnsname f5af33d.

When running a podman container with --setuidname, it does not correctly modify resolv.conf but uses the host's resolv.conf instead:

[code]

[2019-10-11 16:01] mheon commented on #9
I'm not familiar with any Podman flag named `setuidname` - is this a separate program being used to run Podman?

[2019-10-11 16:02] ibotty commented on #9
Argh.  I forgot to copy paste correctly!  I meant --subuidname.
Sorry for the mistake.

[2019-10-11 16:03] mheon commented on #9
Ah, a container in a user namespace. Hm.

[2019-10-11 16:04] ibotty commented on #9
Right, but in the host's net namespace.

[2019-10-11 16:18] rhatdan commented on #9
I see no difference?

[code]

[2019-10-11 16:20] ibotty commented on #9
Are you using the dnsname plugin?  Because AFAICT the dnsname plugin sets the nameserver to the bridge's gateway address (because that's where it instructs dnsmasq to listen).

[2019-10-11 17:28] baude commented on #9
i dont follow what should happen.  can anyone elaborate ?

[2019-10-11 17:30] ibotty commented on #9
Dnsname configures a dnsmasq server to listen on the bridge gateway address (on the host).  It correctly configures resolv.conf to point to that nameserver when used without using user namespaces.  When using user namespaces it does not.

[2019-10-11 17:33] baude commented on #9
@ibotty interesting, thanks for the clarification.  Do we all feel that is in error?

[2019-10-11 18:16] rhatdan commented on #9
Sounds like an error to me.

[2020-01-29 12:10] abalage opened #11 "hostname points to the name of the infra container instead to hostname of the pod itself"
Hi,

I am having an issue with name resolution not working with pod names.
I would like to achieve pod-to-pod communication via hostnames / DNS of pods.

I create a pod for each different systems I may use. Each pods contain different number of containers. The plugin dnsname is configured for the default network.

The very basic setup I'd like to achieve can be seen on the picture below.

![DSC_00

[2020-01-29 12:13] abalage commented on #11
tl;dr.

I would need a 'poor man's' service discovery. Find published ports of pods on the same network by using the name of the pods. And not by the name of the infra container of a pod.

[2020-01-29 14:08] baude commented on #11
@abalage name resolution does is not supported yet for pods ... BUT I am currently working on it

[2020-01-29 14:29] abalage commented on #11
Great to hear. I am happy to test any release you may have.

[2020-02-04 21:31] abalage opened #12 "unexpected behavior when a container is attached to more than one network"
Hi,

I experienced the following situation.
There are at least two CNI networks specified (CNI 1, CNI 2). Each has dnsname enabled. These networks are not overlapping.

If you join a container to both of these networks then:

1. The container will have interfaces and IPs from both networks as expected.
2. The container's resolv.conf will contain both network's name server like this.

[code]

Where

[2020-02-19 17:27] ecks commented on #11
I would be interested in this feature as well, since I would like to use "podman play kube" as a way to import podman configurations. When you do that, everything gets imported as a pod, so my workaround has been to manually add the container name entries to addnhosts file.

Would this be the correct place to track the progress?

[2020-03-25 20:00] daniel-wtd opened #17 "Question: DNS not working as expected"
Hi all,

I am on Fedora 31 with podman 1.8.1, podman-plugins is installed.

I have done the following:

1. Create a new network
[code]

Afterwards I created two containers

[code]

I wanted to test the dns / ping from container foo

[code]

[2020-03-25 21:09] daniel-wtd commented on #17
minor addition: in the alpine container a search domain is set. after unsetting it, the result is similar.

[2020-03-26 12:03] daniel-wtd commented on #17
the hostnames are also not resolvable from the host underneath the containers, when using the proper interface.

[2020-03-27 12:35] daniel-wtd commented on #17
I had a deeper look at the dnsmasq.conf provided by the plugin.

I have added the following:
[code]
And it was working after restarting all containers

Before I was seeing some "NODATA-IPv4" logs, when trying too lookup records.

[2020-03-27 13:51] rhatdan commented on #17
Does this mean this is not an issue then?

[2020-03-27 14:24] daniel-wtd commented on #17
it is an issue, but seems not to be directly related to dnsname plugin itself, but the way dnsmasq is handled/configured/used.

in IRC, @baude and I also discussed, that the "hup" is working seemingly well. Nevertheless, we it is not working as expect, since DNS is not working without overwriting automatically generated files.

[2020-03-27 15:30] daniel-wtd commented on #17
Just a minute ago, there was an update for dnsmasq available. After applying and rebooting, the thing is working oO

I will validate this today on the other machine and come back asap.

[2020-03-28 09:21] daniel-wtd commented on #17
Hi all,

I can confirm, that with the last update from dnsmasq, eversything is working fine in f31, silverblue and iot :)

[2020-03-29 10:56] #17 closed

[2020-04-28 11:19] KlausThornProgrammfabrik opened #18 "doc uses wrong packagename"
README_PODMAN.md mentions containernetwork-plugins but the name of the rpm package is containernetworking-plugins

[2020-04-28 13:01] baude commented on #18
care to make a PR to fix it?

[2020-04-28 19:30] KlausThornProgrammfabrik opened #19 "containers do not start after reboot while dnsname enabled"
I installed dnsname and tested it successfully: A PostgreSQL container "pgsql" is found by the other container "pgclient" - just by using the container name, cool! But after reboot I get lots of problems while starting the containers again. (Problems which I do NOT get without dnsname in `/etc/cni/net.d/mynetwork.conflist` ).

Errors 1:
[code]
[code]
[code]

Errors 2:
[code]
[code]

Instead of jus

[2020-04-28 19:34] mheon commented on #19
Are these containers using static IPs, by chance?

[2020-04-28 19:42] KlausThornProgrammfabrik commented on #19
Thanks for the fast reply!

They do not use `--ip=` . Is that what you are referring to?

Network:
[code]
[code]
[code]
... I also changed firewall-backend to `firewalld`.

Versions:
[code]
[code]
[code]
[code]
[code]
[code]

[2020-04-28 19:55] mheon commented on #19
Alright, does not sound like anything I'm familiar with, then.

@baude Mind taking a look?

[2020-04-28 20:21] baude commented on #19
this should be reported as a bugzilla.  please do so and let us know the number

[2020-04-28 20:28] KlausThornProgrammfabrik commented on #19
Bugzilla is some fine software. But which instance of bugzilla are you referring to? Do you have a URL for me?

Not that I am eager to post all that a 2nd time, but if that is what it takes, fine.

[2020-04-28 20:41] rhatdan commented on #19
bugzilla.redhat.com

[2020-05-11 16:25] LY1806620741 commented on #19
The Error 2 may be that you have enabled both firewall and iptable at the same time,

[2020-05-19 11:12] AlbanBedel opened #21 "dnsmasq process in wrong cgroup"
When a pod/container is started directly with the podman command, the dnsmasq process created by dnsname end up in the calling user cgroup:
[code]
That's probably not ideal as the dnsmasq process is then bound to the user slice.

But when systemd service file generated by podman are used, the dnsmasq process ends up in the service's cgroup:
[code]
This is problematic as the dnsmasq process and the

[2020-05-19 11:41] AlbanBedel commented on #12
Seeing this after opening #21 I'm wondering if it would not be a better design to have one config file per cni network and one dnsmasq process per container. Such a container specific dnsmasq would just include the config files of the networks it is bound to, solving this problem. Additionally the life cycle of the dnsmasq process and container would match, which would also solve #21.

[2020-05-19 13:59] baude commented on #21
@mheon WDYT?

[2020-05-19 14:04] mheon commented on #21
We could try moving to the container's cgroups, but that's problematic because it should outlive any single container as long as another container in the network is started and running.

Best way is likely to make a scope exclusively for dnsmasq (`podman-dnsmasq-$NETWORK.service` maybe?) under Libpod's default cgroup parent. We have code to do this for cgroupfs and systemd in Podman (we use it for

[2020-07-03 08:17] lucab opened #22 "Implicit assumption that dnsmaqs is on-host"
This is a followup from https://github.com/coreos/fedora-coreos-tracker/issues/519 and https://github.com/containernetworking/plugins/pull/380.

This part assumes that a `dnsmasq` binary exists in the host OS, it can be owner/run by the CNI plugin and its build-time configuration and its version suits whatever are the requirements here. This does not match reality on modern Linux distributions, wh

[2020-07-04 08:18] Ma124 commented on #22
I've already experimented with creating a plugin which uses [`github.com/miekg/dns`](https://github.com/miekg/dns#readme).

My design implements the CLI of a CNI plugin and provides a special command-line switch to launch into DNS Server mode.

When a container joins the network, the plugin checks if there's already an instance in DNS Server mode running and if there isn't, starts one by calling `

[2020-07-06 13:45] baude commented on #22
the podman team has made an explicit decision to not integrate networking into our code such as docker has done.  this comes with benefits and disadvantages.  requiring dnsmasq is one of those disadvantages.  when this work was done and planned, we double checked for dnsmasq on fcos and it was present.

[2020-07-13 13:23] mi-hol commented on #11
@baude any news re 'currently working on it'?

[2020-07-16 20:08] baude commented on #11
@mi-hol sorry! yes, name resolution for pods works like containers now.  Remember all containers in a podman pod share the same network namespace by default.  So you can set the hostname with podman pod create --hostname.

[2020-07-21 09:22] mi-hol commented on #11
@baude , would your answer mean that this issue should be closed?

[2020-07-21 09:32] mi-hol opened #26 "disable 'issue creation' in github and describe expected process to use 'bugzilla.redhat.com' in readme.md"
Users of github assume that issues create in this repo are being worked on but [this comment and following](https://github.com/containers/dnsname/issues/19#issuecomment-620837006) mentions to use bugzilla.redhat.com
Please clarify the process in readme.md to avoid further confusion and lost feddback.

[2020-08-03 16:02] baude commented on #11
I think so but always nice that the reported concurs... closing. Please re-open or open a new issue if you disagree.

[2020-08-03 16:02] #11 closed

[2020-09-15 10:34] savoiringfaire opened #33 "'exit status 3' when starting container"
Hi,
I'm trying to get dnsname working with podman on opensuse microos. The versions of relevant software is:

[code]

When I try to start a container after enabling podman, I get:

[code]

Here's what my cni network config looks like:

[code]

Even with a brand new network with default podman config, the same error happens:

[code]

The reason I'm raising this here rather than in the podman issue

[2020-09-16 14:00] baude commented on #33
thanks for the detailed report @savoiringfaire . I have not been able to replicate this.  Have you tried using the latest podman from the main branch?

[2020-09-16 14:40] savoiringfaire commented on #33
Hi @baude - no problem, and thanks for the reply. I've tried building podman master from source and still get the same error:

[code]

Also tried creating a new network and then a new container using that network using the master branch with no luck (same error) either.

Thanks,
Savoir

[2020-09-16 17:27] baude commented on #33
any way i can access or replicate your environment precisely?

[2020-09-16 18:04] savoiringfaire commented on #33
@baude sure, it's just a personal server so more than happy for you to go in and have a poke around. I've added your public key from github - what's the best way of sending the IP to you? Via bbaude@redhat.com?

Thanks,
Savoir

[2020-09-16 18:14] baude commented on #33
sure, or irc...

[2020-09-16 19:54] baude commented on #33
`type=AVC msg=audit(1600285322.958:886): apparmor="DENIED" operation="open" profile="/usr/sbin/dnsmasq" name="/run/containers/cni/dnsname/cni-podman1/dnsmasq.conf" pid=4656 comm="dnsmasq" requested_mask="r" denied_mask="r" fsuid=0 ouid=0`

@vrothberg does suse provide the dnsplugin as a package? in this case, it was compiled and added manually.

[2020-09-17 03:47] WolfangAukang commented on #11
Hello @baude, so a quick question about using this feature. I am running the following:
[code]
`foobar` is a network created according to the guide and it runs as expected between pods. But if I try to run `ping db` or `telnet db 3306`, it does not get any answers. Am I doing something wrong?

[2020-09-17 09:04] vrothberg commented on #33
I've been poking around build.opensuse.org but could not find any reference on dnsname. @sgrunert @sysrich, to double check: is dnsname shipped in OpenSUSE?

[2020-09-17 09:10] saschagrunert commented on #33
No I don't think so.

[2020-09-17 13:52] baude commented on #33
should it be? and then add the proper apparmor stuffs?

[2020-09-17 14:52] saschagrunert commented on #33
I never had a use case for this, but yeah it might be a good addition. WDYT @sysrich, @rhafer?

[2020-09-17 19:56] #18 closed

[2020-09-17 19:57] #26 closed

[2020-09-22 18:32] mkwapisz opened #37 "Please, correct README_PODMAN.md"
Example: container name resolution
sudo podman run -dt --name web --network **foobar** quay.io/libpod/alpine_nginx:latest 5139d65d22135e9ecab511559d863754550894a32285befd94dab231017048c2
Note: we use the --network foobar here. Also, in this test image, the nginx server will respond with podman rulez on an http request.
sudo podman run -it --name client --network **cni-podman1** quay.io/libpod/alpi

[2020-09-22 18:44] rhatdan commented on #37
Could you open a PR to make these changes?

[2020-09-23 09:41] atarlov opened #38 "dnsname - plugin should be in /usr/libexec/cni"
I played a bit with the dns plugin.

- dnsmasq should be installed (via yum install dnsmasq)
- the plugin should be available in the cni

/usr/libexec/cni
.
├── bandwidth
├── bridge
├── dhcp
**├── dnsname**
├── firewall

However i installed it via **podman-plugins**  from the @devel_kubic_libcontainers_testing . would be it be included in  containernetworking-plugins or will be a separate rpm from

[2020-09-23 14:22] baude commented on #38
you dont mention the distribution you are playing with.  but for fedora proper, it is correct.  upstream rejected the plugin which is why it is not shipped with it.  not much we can do there.

[2020-09-23 14:38] atarlov commented on #38
[atarlov@localhost ~]$ cat /etc/*release
NAME="Red Hat Enterprise Linux"
VERSION="8.2 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.2"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Linux 8.2 (Ootpa)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:8.2:GA"
HOME_URL="https://www.redhat.com/"
BUG_REPORT_URL="https://bugzilla.redhat.com/"

@baude  is it going to be shipped

[2020-09-23 15:37] baude commented on #38
8.3.1

[2020-09-29 15:16] rhafer commented on #33
Incidently I just could just make good use of this :-). So I created a package: https://build.opensuse.org/request/show/838590
Still need to work on the apparmor denials, but that shouldn't be much of a problem.

[2020-09-29 15:18] rhafer commented on #33
@savoiringfaire If you're interested in testing it should appear in https://download.opensuse.org/repositories/devel:/kubic/ soon :tm:

[2020-09-29 15:54] savoiringfaire commented on #33
@rhafer oh, great, thanks! :grin: I was working on my own one but it's my first time working with OBS so took me longer than I was hoping. I was playing around with AppArmor rules and as far as I can tell (through looking at the audit log and a look through the dnsname source), the only rule that needs to be added to dnsmasq on opensuse is:

[code]

In theory I'd be happy to add a request somewher

[2020-09-29 16:13] rhafer commented on #33
@savoiringfaire You could just try to submit a PR to: https://gitlab.com/apparmor/apparmor

I think you'd also need to add:

[code]

depending on how podman is started it  might also pick that directory.

[2020-09-30 01:44] WolfangAukang opened #40 "How to set up name resolution for pods?"
This is regarding #11 and https://github.com/containers/podman/pull/5657.

Would it be possible to document how to associate a hostname to a pod and perform connections between two different pods by hostname?

The idea is that I want to have a pod with a database running and another pod with any application able to connect to that pod. I have been performing the following as superuser:

[code]
Is

[2020-09-30 19:17] baude commented on #40
As of now, dnsname only uses the name of the pod for name resolution.  the value of --hostname is ignored for dnsname.  I think it is a very interesting feature though and will give it some though.  Would it work for you to use the name of the pod?

[2020-09-30 21:23] WolfangAukang commented on #40
Thanks for the info @baude, that works for me :).

The main plan was to deploy stuff on separate pods and test connections between them. Right now, changing the hostname to pod_db while running the telnet command made it work as expected, so I think I can handle my use case normally from here.

[2020-09-30 21:23] #40 closed

[2020-11-26 14:27] cfelder commented on #40
Sorry for reopening this conversation but I stumbled across this on my fedora 33 system

[code]

Would it be possible to provide some feedback to the user when using ``--hostname`` with ``dnsname`` plugin? I expected to have the value of ``--hostname`` in ``addnhosts`` rather than the argument provided by ``--name``.
I can life with using what is in ``--name`` but it is misleading that ``--hostnam

[2020-12-03 11:37] dashohoxha opened #46 "Option --network-alias still not working"
Something seems to be wrong with `netConf`, because `aliases` on this line is always empty: https://github.com/containers/dnsname/blob/master/plugins/meta/dnsname/main.go#L87
However I am not able to debug it further or to fix it.

[2020-12-03 16:27] baude commented on #46
context? reproducer? versions?

[2020-12-03 18:14] dashohoxha commented on #46
Latest packages on ubuntu:
[code]

Create a new network:
[code]

This is supposed to enable dns plugin by default, since `podman network create --help` shows also an option `--disable-dns`.
Indead `/etc/cni/net.d/testnet.conflist` contains also this sippet:

[code]

For testing:

[code]

And... it works!!!

Turns out that I was using an old network, that was created before updating to the latest v

[2020-12-03 18:14] #46 closed

[2020-12-03 18:22] baude commented on #46
ty! and happy it does!

[2020-12-04 20:13] aju11 opened #47 "dnsname - persistent entries in /run/containers/cni/dnsname/podman/addnhosts"
Hello,

I have containers running in a podman environment with the dnsname plugin installed. These containers run on the default podman CNI network. On tearing down the containers (via a `podman stop && podman rm` ) however, there are persistent entries present in `/run/containers/cni/dnsname/podman/addnhosts` . There also are residual IPs in `/var/lib/cni/networks/podman`

Is there a workaround f

[2020-12-04 20:44] mheon commented on #47
This doesn't sound like a dnsname plugin issue if there are still entries in `/var/lib/cni/networks/podman`. It sounds like network teardown is either not being called, or not working.

Can you try a newer Podman (RHEL 8.2.1 shipped 1.9, and 8.3 shipped 2.0.5)?

[2020-12-04 21:00] aju11 commented on #47
Unfortunately, there's a hard requirement to use only version 1.9 for podman. Is there any way I can debug this for the current deployment? I cannot completely teardown the default CNI network as there may be other containers (not related to my deployment) still running on that network. The `/etc/cni/net.d/87-podman-bridge.conflist` currently looks like this:

[code]

[2020-12-09 10:52] domq commented on #38
[Unfortunately this is still not working for RHEL 8.3](https://github.com/containers/podman/issues/8365)

[2020-12-28 17:00] catric96 opened #51 "The --internal flag in podman network create disables dns names"
Environment:
Podman 2.2.1 running on RHEL 8.2
[code]

Steps to reproduce:
Create two networks via `podman network create,` one of which has the `--internal` flag set. Then, test each network created by attaching it to two containers and attempting to ping back and forth by their respective names. Note that you cannot get the containers to ping each other by name when using the network with `--inte

[2021-01-07 06:19] xordspar0 commented on #37
This is fixed in #48.

[2021-01-10 10:24] #37 closed

[2021-01-10 10:26] rhatdan commented on #38
RHEL 8.3.1 is supposed to ship in February.  But this is not an upstream issue, so closing.

[2021-01-10 10:26] #38 closed

[2021-01-19 10:06] AkihiroSuda opened #52 "README_PODMAN.md: "http://web" is a typo of "http://web.dns.podman" ?"
https://github.com/containers/dnsname/blob/966301eef1b1ec5cb9f3d3bc1deb79fa4136abce/README_PODMAN.md#example-container-name-resolution

IIUC,  the expected URL is `http://web.dns.podman`, not `http://web`? Or `http://web` is expected to work too?

[2021-01-19 15:27] baude commented on #52
should work as well.

[2021-01-21 14:09] rhatdan commented on #52
So is this an issue, or are the documents in fact correct?

[2021-01-21 14:49] AkihiroSuda commented on #52
Thanks for clarification, but looking up hostname without .dns.podman suffix doesn't work for my Ubuntu 20.10 host. Maybe some specific configuration is needed for dnsmasq stuff on Ubuntu?

[2021-01-21 16:56] baude commented on #52
verified as such @AkihiroSuda I dont understand why.

[2021-01-21 17:10] baude commented on #47
offhand i cannot remember if 1.6.4 supported dnsname? @mheon do you remember?

[2021-01-21 17:11] baude commented on #33
may i close this issue?

[2021-01-21 17:13] baude commented on #51
the gateway is probably required ... it is being used today as the dns server for each container.  I'll look into the podman side to see if I can restrict dnsname from being added when --internal is set.

[2021-01-21 17:19] #52 closed

[2021-01-21 17:30] mheon commented on #47
I don't see it in the release notes, so you'd have to pull out the commit logs to figure it out

[2021-01-21 18:22] baude commented on #47
@aju11 on your initial report it seems you were using podman-1.6.4.  Then in a later comment you mentioned that it was a requirement to use 1.9.  For the record, can you confirm that you observe this behaviour with 1.9?

[2021-01-21 22:37] rhatdan commented on #47
I do not believe dnsname was supported for 1.6.4.

[2021-01-22 08:44] codemaker219 commented on #47
I have a similar problem with the current podman version `2.1.1`.

I have defined two networks `application` and `middleware`.

Now I start a container attached to both networks. After the deletion of the container one of the `addnhosts` is not cleaned up.

**How can I reproduce it**
Create two networks. I attached my config files.

Run

    podman run -d --network application,middleware  --name c

[2021-01-22 15:00] baude commented on #47
@codemaker219 has your issue always been when using two networks? if that is the case, then i think we know the problem.

[2021-01-22 15:17] codemaker219 commented on #47
@baude At least I found out yesterday. So "has your issue always been when using two networks"-> Always since yesterday :-)

[2021-01-25 14:58] baude commented on #47
i cannot reproduce this with 3.0.  what distribution are you using?

[2021-01-25 15:03] baude commented on #47
@codemaker219 can you elaborate? are you using the obs repos or?

[2021-01-25 15:12] codemaker219 commented on #47
It should be installed via the repo mentioned in the installtion instruction. https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8/devel:kubic:libcontainers:stable.repo
I juts saw ther ist a new Version available. But on my setup there is the version 2.1.1

[2021-01-25 15:16] mheon commented on #47
My strong suspicion continues to be that this is not a dnsname issue. Can you, on a clean system (no containers running), run a single container that exits immediately, but is not removed (`podman run alpine ls` should do nicely) and then check the output of `mount` for any `nsfs` mounts. They will look like the following:

`nsfs on /run/netns/cni-dcbab49c-bc60-7523-e99a-3323220b0e43 type nsfs (rw

[2021-01-25 15:31] codemaker219 commented on #47
[code]

[2021-01-25 15:38] mheon commented on #47
Network teardown is not happening. This is a Podman issue, not a dnsname issue.

[2021-01-25 16:35] #51 closed

[2021-01-30 09:04] Kyrawnd opened #54 "dns not working when recreate network"
Hello, I have install podman, containernetworking-plugins, and dnsname on ubuntu 20.04. When I first run containers with network, dns works and I can ping container by name. But when I delete network and recreate it, the dns doesn't work.
Here are my steps.
1. create network _test_
[code]
2. run containers with network _test_
[code]
3. ping container by name, and it is successful
[code]
4. rm cont

[2021-02-01 14:47] baude commented on #54
@Kyrawnd what is the source of your podman and dnsname binary?

[2021-02-01 14:47] baude commented on #54
also, are you doing this as rootful or rootless?

[2021-02-02 01:59] Kyrawnd commented on #54
podman version 2.1.0, build from github source code
dnsname build from github source code v1.1.1

[2021-02-02 01:59] Kyrawnd commented on #54
rootful

[2021-02-03 15:29] baude commented on #54
@Kyrawnd any chance you can pop onto #podman on freenode?

[2021-02-03 15:30] baude commented on #54
and also provide a podman info

[2021-02-05 10:59] daniel-wtd opened #55 "Bug: massiv latency impact when using dnsname (workaround in comment 3)"
Hi,

thanks for the very cool work and effort you are putting into podman. I have identified some very weird behavior, when using podman in combination with dnsname plugin.

It seems like there is a huge performance impact (x ~150 slower response), when using podman dnsname, instead of IPs or dns servers.

## Step by Step

1. create a test environment (this case rootful)
[code]
2. Testing containe

[2021-02-05 15:06] daniel-wtd commented on #55
Update for a redo in the same container:

[code]

[2021-02-06 08:59] daniel-wtd commented on #55
Additional update:

Using the internal fqdn (excluding the search domain) solves the issue:

[code]

For me, this is good enough, but maybe worth an inspection how dnsname/dnsmasq are resolving search domains/priorities these. Maybe internet resolving is tried first and times out or so. Not sure.

[2021-02-06 09:13] daniel-wtd commented on #55
@baude Dunno, if this may impact the docker-compose functionality of podman3.0, but it may be worth a look. it is very common to define multiple networks in docker-compose and communicate via hostnames.

[2021-02-07 06:45] Kyrawnd commented on #54
@baude
$ podman version
Version:      2.1.0-dev
API Version:  1
Go Version:   go1.13.8
Built:        Thu Jan  1 08:00:00 1970
OS/Arch:      linux/amd64

[2021-02-07 07:45] Kyrawnd commented on #54
I think it is because the **dnsmasq.conf** of network is not changed when delete and re-create the network _test_.
The bridge of _test_ has changed from **cni-podman0** to **cni-podman1**.
While the **interface** in **dnsmasq.conf** is still **cni-podman0**.
[code]

[2021-02-08 14:30] baude commented on #54
nothing dns name can really do but it points out a bug on podman.  i'll work on that this morning.

[2021-02-18 08:08] Kyrawnd commented on #54
@baude Has this bug been fixed?

[2021-02-18 14:20] baude commented on #54
no

[2021-02-18 16:40] baude commented on #54
@Kyrawnd im confused now that i reread your answers ... i asked if you were doing this as rootless or rootfull and you answered rootfull.  but your data in the last comment for certain leads me to believe rootless.

rootfull = run by root
rootless = run by an unprivileged user

[2021-02-22 11:05] Kyrawnd commented on #54
@baude I doing this as rootful.
I run command **su** first, and then run other commands.
[code]

[2021-02-23 17:23] Luap99 commented on #55
@daniel-wtd can you try with `--dns-search dns.podman` for the podman run command

[2021-02-24 08:27] daniel-wtd commented on #55
Hi,

I started both of the containers with `--dns-search dns.podman`. Please find the results below. Looking good.

[code]

[code]

[2021-02-24 09:00] Luap99 commented on #55
OK I think we should add this automatically when dnsname is used. In order to do so dnsname has to add the dns search domain to the cni result and podman has to read the search domain and add it to resolv.conf.

[2021-02-24 09:13] daniel-wtd commented on #55
Sounds like a plan. There may be the situation like:

### networks

- proxy-net
  dns=proxy.podman
- app-net
  dns=app.podman
- db-net
  dns=db.podman

## containers

- proxy01
  networks=proxy-net
- app01
  networks=proxy-net, app-net
- db01
  networks=app-net, db-net

And I am not sure, if there are limitations in the resolvers. (count of dns search entries, dns server entries)

[2021-02-24 09:26] Luap99 commented on #55
Note that dnsname currently only works for one attached network, see https://github.com/containers/podman/issues/8399, https://github.com/containers/podman/issues/9492 and #12

[2021-02-24 09:53] Luap99 commented on #55
https://github.com/containers/dnsname/pull/57 and https://github.com/containers/podman/pull/9501 shoudl fix this

[2021-03-08 19:11] rhatdan commented on #55
@Luap99 can we close this issue now?

[2021-03-08 19:58] Luap99 commented on #55
Yes

[2021-03-09 11:44] #55 closed

[2021-03-09 11:47] rhatdan commented on #47
Since this is a Podman issue and has been fixed in the main branch, I am going to close.  It would be best if the version of Podman you are using does not handle this properly to open a bugzilla or distro error, to get a version of podman with the fixes.

[2021-03-09 11:47] #47 closed

[2021-03-10 22:35] daniel-wtd commented on #55
Thanks a lot everybody :)

[2021-03-11 13:33] DaTurret opened #59 "dnsname does not resolve hostnames of containers"
The internal hostname of the container is not passed to dnsmasq, only the container name. Is it somehow possible to resolve the internal hostnames via dnsname?

Thank you and kind regards

[2021-03-12 20:22] DaTurret commented on #59
Well, after testing the network alias feature, I can say that it should be optimal for my use case. Thank you very much for the heads-up.

Von: Matthew Heon ***@***.***>
Gesendet: Freitag, 12. März 2021 20:13
An: containers/dnsname ***@***.***>
Cc: Matthias Cotting ***@***.***>; Author ***@***.***>
Betreff: Re: [containers/dnsname] dnsname does not resolve hostnames of containers (#59)

At present

[2021-03-13 12:23] rhatdan commented on #59
It does seem reasonable for podman to add the hostname to dnsname, @baude @mheon WDYT?

[2021-04-12 19:23] carbolymer commented on #54
I'm affected by the same issue. Recreation of the container results in the new dns entries in `/run/containers/cni/dnsname/web/addnhosts` without the old ones being removed. Thus, when resolving dns names, dnsmasq returns stale IP addresses of the previous containers.

[2021-04-14 19:09] carbolymer commented on #21
Is there any workaround for this? This makes using more than one network in podman impossible.

[2021-04-15 07:46] AlbanBedel commented on #21
@mheon and what about #12? Each pod can have a unique combination of networks attached, to support that we would probably need a dnsmasq process per pod anyway. It's a larger change but that would solve both bugs at once.

On the other hand it would make sense to have a generic solution to handle the case where a cni plugin start a process that should outlive the pod it was started for.

[2021-04-15 13:23] mheon commented on #21
@AlbanBedel We're presently discussing an extensive rearchitecture/rewrite of dnsname to resolve that, that should also resolve this. I'm just waiting for the OK to go and ahead and get started on it.

[2021-04-15 22:41] sanyer opened #63 "Using dnsname plugin in rootful podman"
Hi! First of all, I'm really enjoying this switch from docker so far. Really like the initiative and documentation.

But currently having an issue of dnsname plugin throwing a warning in rootfull config:
[code]

Plugin config is added to default network.
Also, networks created in rootfull do not include dnsname plugin.
Am I doing something wrong? Have I missed something?

[2021-04-16 13:31] rhatdan commented on #63
Do you have a podman-plugins package installed?

rpm -qf /usr/libexec/cni/dnsname
podman-plugins-3.1.0-2.fc34.x86_64

[2021-04-16 18:36] sanyer commented on #63
oh, true.
I shouldn't been doing that in the middle of the night, completely forgot to check package manager 🥇

Just installed `podman-dnsname` on Manjaro Linux and everything is fine now.

[2021-04-16 18:36] #63 closed

[2021-05-03 10:04] Luap99 commented on #54
#65 should fix this

[2021-05-03 13:22] #54 closed

[2021-05-03 19:51] rhatdan commented on #54
@baude @mheon Could you cut a new release, so we can use this fix.

[2021-05-07 15:59] xordspar0 opened #66 "Run tests without root privileges"
I maintain a [community package](https://pkgs.alpinelinux.org/package/edge/testing/x86_64/dnsname) for dnsname in Alpine Linux. Alpine prefers to run the testing suite on every package when it gets built, but running as root is not allowed. Is there any way to make it possible to run the tests without root?

I tried using fakeroot, but that works by injecting alternate dynamic libraries with LD_PR

[2021-05-12 06:14] snd94 opened #67 "Not able to stop or restart the containers present in same network after dnsname plugin installation"
After installing the dnsname plugin built manually from the github(https://github.com/containers/dnsname) facing issue in podman stop or restart.
Machine: RHEL beta 8.4
ERROR:
ERRO[0000] unable to cleanup network for container 6505310e93d4d4587d779fcb882a6266098d39a96ed6052b42a146ac0b11c129: "error tearing down CNI namespace configuration for container 6505310e93d4d4587d779fcb882a6266098d39a96ed60

[2021-05-12 15:56] baude commented on #67
@Luap99 have you ever used dnsname with rootless? i dont think it will work but I have been completely swamped in podman machine these days.  What say you.

[2021-05-12 16:12] snd94 commented on #67
@baude I am currently using  podman version 3.0.2-dev and it is rootfull. Could you please suggest me the work around to fix this issue if there are any... it will very helpful??

[2021-05-12 16:24] Luap99 commented on #67
@snd94 Do you have the XDG_RUNTIME_DIR envar set to `/run/user/0` but started the container without this envar? I think dnsname looks at the wrong location because it tries to use XDG_RUNTIME_DIR when present and `/run` if not.

[2021-05-12 16:26] Luap99 commented on #67
You can remove the offending ip files under `/var/lib/cni/networks/<netname>/...` if you are sure that no other container is using this ip at the moment.

[2021-05-12 16:35] snd94 commented on #67
@Luap99 I could see ENV variable XDG_RUNTIME_DIR set to /run/user/0
Yes if i remove those IP's from the dir /var/lib/cni/networks/<netname>/... it works for the next stop/restart, this is kind of manual process. Is there any way to do the network cleanup instead of manually deleting the IPs

[2021-05-12 16:39] Luap99 commented on #67
@snd94 Does the cleanup fail every time? Can you please provide the exact commands to reproduce.

[2021-05-13 03:40] snd94 commented on #67
@Luap99 It is sporadic issue after deleting the ip file for some time, since i have 2 containers running on the same network. Based on the error that contains the Ip address need to delete the file from the network path. Only deletion of the file manually is the only solution for this right?

My doubt is is it fine to delete the all the IP's from /var/lib/cni/networks/<netname>/... before doing re

[2021-05-13 15:54] rhatdan opened #68 "Rename master branch to the main branch."

[2021-05-21 14:38] frezbo opened #69 "GitHub releases"
Is there a plan to have GitHub releases for the project or a way to install `dnsname` without compiling from source? Thanks :D

[2021-05-25 21:46] drchristensen opened #70 "Using dnsname plugin with ovs-cni Does Not Results in "Temporary failure in name resolution""
Running podman v2.0.5 and openvswitch v2.15.90 under RHEL 8.3 on a ppc64le PowerNV system.

Compiled and installed openvswitch from source (https://github.com/openvswitch/ovs/commit/76b720ed1145560a4aaa394cde8cac3f718f40fd)
[code]
Compiled and installed ovs-cni from source (https://github.com/k8snetworkplumbingwg/ovs-cni/commit/c176f8cc94a45d0c08db78f72c1176add8b8e41b), then created CNI configurat

[2021-06-18 13:13] rhatdan commented on #68
Branch renamed.

[2021-06-18 13:13] #68 closed

[2021-08-11 14:57] #67 closed

[2021-08-22 10:41] gmarcy opened #79 "What is the correct way to terminate the dnsmasq process?"
I've tried all of the options I can find under `podman network`, but even after completely removing everything I can find associated with a network that I am removing, the dnsmasq process associated with that network continues to run.  While I can (and am) using the pidfile as a last resort to explicitly delete the process as part of my cleanup, I am wondering if there is something I'm missing tha

[2021-08-22 12:01] gmarcy commented on #79
I'm not sure if it's related or not, but I also see that the vethXXXXXXXX interface for cni-podman1 associated with the podman network I've removed is also not cleaned up.

[2021-08-23 14:32] baude commented on #79
@gmarcy , it should stop when all the containers on the network are stopped.

Create a network and run a container on that network
[code]
Now check for the dnsmasq process
[code]
There we see it as the third process. Now stop containers and check again
[code]

The process is no longer running.

There are plausible explanations on why the process might not stop.  The most usual is because the "host

[2021-08-23 15:26] gmarcy commented on #79
ahh, so it's specific to using a pod !

here is my behavior
[code]
following up with your suggestion, sure enough we see the extra host entry
[code]

[2021-08-25 03:41] gmarcy commented on #79
@baude any thoughts on this?  should I add a task to my cleanup to zero out this file?

[2021-08-25 14:17] baude commented on #79
this looks like a bug.  let me verify and see about a fix.

[2021-08-25 14:23] baude commented on #79
@gmarcy i cannot replicate thi son my fedora 34 install.  What distribution are you running? and version of podman?

[2021-08-25 15:15] gmarcy commented on #79
@baude

OS is minimal install from CentOS-Stream-8-x86_64-20210716-dvd1.iso
dnf update -y run and system rebooted, so should be the latest stuff.
[code]

podman from kubic via `curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable.repo https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_8_Stream/devel:kubic:libcontainers:stable.repo`
[code]

[2021-08-25 15:17] baude commented on #79
whats the version/rpm version of the dnsname plugin?

[2021-09-16 11:59] roberth opened #81 "Listen at 127.0.0.11 (docker compatibility, nginx)"
Is it feasible for dnsname to listen at 127.0.0.11? This address is used by docker and some containers assume this to work, hardcoding the address. On podman otoh, places the dns server in the container network range.
Of course hardcoding 127.0.0.11 isn't great form, but it's out there in the wild and supporting it will improve dnsname usability.
For instance, it will help with nginx's `resolver`

[2021-09-16 13:20] rhatdan commented on #81
@baude @Luap99 @mheon WDYT?

[2021-09-16 13:24] Luap99 commented on #81
This is something we have to consider for the network rewrite. If we write a new dns server we should definitely do this to not block port 53 on the host.

[2021-09-16 21:23] cboltz opened #82 "README_PODMAN.md - recommended apparmor_parser commands cause security issues"
README_PODMAN.md says in the AppArmor section:

[code]

The first command unloads the dnsmasq profile - which also means dnsmasq **becomes unconfined**  (= without AppArmor restrictions).

The second command loads the profile, but it can't apply it to the already-running dnsmasq, so this instance **stays unconfined**.

Please change README_PODMAN.md to recommend **reloading** the profile with `app

[2021-09-17 14:48] Luap99 commented on #82
Please open a PR with your proposed changes.

[2021-09-20 14:01] #82 closed

[2021-10-14 12:13] Luap99 commented on #59
@mariot8 Can you paste the output of `podman network inspect build`.

[2021-10-24 08:25] jedi7 opened #85 "dns is not updated when addnhosts change"
Hi,
I'm facing following issue:

Versions:
* podman: 3.4.0
* dnsname: 1.3.1-1

I have multiple containers connected to network named "podmannet".
They have proper and updated ip/name in addnhosts file. But the dnsmasq does not reread this file when changes.

steps to reproduce:
* start 2 new containers A, B
* ping A from B (successfull)
* restart container A, which will get new ip
* ping A from B

[2021-12-09 19:23] moqmar opened #86 "IP addresses aren't removed from addnhosts when using podman-compose without "-t identity""
This sounds similar to #47, but it happens with Podman 3.3.1 and a build from the master branch for me:

- `podman-compose up -d`
- `podman-compose down`
- `podman-compose up -d`
- `podman-compose down`
- Now, `/run/user/0/containers/cni/dnsname/podman/addnhosts` looks like this:
[code]
- If I keep my project running & try to resolve the container, it's based on pure luck if I hit the correct IP -

[2021-12-10 09:39] vinzent commented on #85
I can't confirm this behaviour.

started 2 containers. the addnhosts file looks this:

[code]

then ran `podman stop container-a` + `podman start container-a`.

after that, the addnhsots file content:

[code]
container-a has new .4 ip.

looking up the ip of container-a in container-b:

[code]

so DNS response contains the new ip correctly.

[2021-12-10 14:31] rhatdan commented on #85
That mean we can close this issue?

[2021-12-10 17:32] jedi7 commented on #85
Hi, please try to recreate the A container.

The real containers are  (on arm64)
* docker.io/graphiteapp/graphite-statsd:1.1.8-2
* docker.io/grafana/grafana:8.2.2

when I recreate the graphite-statsd, then the grafana is not able to connect to the new one (stil resolving the old ip of graphite)

[2021-12-10 17:54] vinzent commented on #85
also if I re-create the container, DNS resolution works fine.

[code]
I rather suspect your app doesn't lookup the DNS name again and just tries to connect to the old ip that it looked up earlier?

[2021-12-10 18:25] jedi7 commented on #85
ok that is strange. With your example it is working as expected (I tried also ubuntu:20.04)

but please see this:
[code]

As you can see, the addnhosts shows now 192.168.0.17    graphite.
But when I run shell inside and show ipt, it shows 192.168.0.18

I'm not sure how to debug this :(

[2021-12-11 05:33] jedi7 commented on #85
Also I somehow get this state, where is the graphite twice in dns. But only one instance.
[code]

[2021-12-17 19:45] agdevsu commented on #85
Same issue

[2021-12-20 07:39] Arryboom commented on #12
confirmed again 20/12/2021.

[code]
in sqlnet: container *web* go ipaddress 10.89.0.2

[2022-01-03 11:59] Radtoo opened #87 "1.4.0-dev (41c9f66b68968988f4eec21c220a6dba19497596) - error with symlinked /etc/resolv.conf"
I am not entirely sure if this is fully a bug in dnsname or an interaction with podman-compose but there is an error when /etc/resolv.conf is a symlink (in my case /etc/resolv.conf -> /var/run/connman/resolv.conf).

The error goes away by substituting the symlink with the linked resolv.conf itself, but symlinks probably should be permitted, some setups like mine require them to work properly.

[co

[2022-01-22 19:40] panumjp commented on #12
Hi,
It is possible to forward queries to other network's dnsmasq using `server=` option in dnsmasq.conf

At least my POC seems to work: https://github.com/panumjp/dnsname/commit/885f47e7f96ed49e45683ea585453d73b639e1cf

[2022-01-24 14:40] mheon commented on #12
That won't work, as it will allow all containers to see all other containers via DNS - even those in networks they are not present in.

We have abandoned dnsname due to this issue and are working on a new, custom server implementation that will resolve this, to be release with Podman 4.0.

[2022-02-16 05:11] oshanz commented on #33
Thanks, @savoiringfaire. I use OpenSUSE Tumbleweed, and after an os update, I got this error.
[code]
Your solution solved my issue. Thanks :rocket:

[2022-02-17 15:56] agdevsu opened #88 "Problem when containers resolve each other by name"
Greetings,

I'm using **_Podman_** for containers and the _**dnsname**_ plugin in order to my Nginx proxy container can resolve the containers name and send requests to the appropriate container. However, sometimes those containers loose their resolution, so the Nginx can't resolve the name and send the request.

Logs generated by Nginx looks like this:

[code]

Now, `/run/containers/cni/dnsname/r

[2022-02-17 16:28] baude commented on #88
i notice that your distro is RHEL.  Can you please take this to bugzilla?

[2022-02-20 19:25] shinji-s commented on #86
I'm facing the same issue on Rocky Linux 8.5 with podman/podman-plugins installed via dnf and podman-compose installed via pip.
[code]
'podman network reload -a' will remove most of the stale entries but the IP address assigned to the last deceased container remains. (In my case, the IP address under /var/lib/cni/networks/tmp_default/ remains even though the container has been stopped.)

Here is t

[2022-02-23 17:51] pracquet opened #89 "Installation dnsname /podman on wsl2 : Could not resolve host"
Hi,
I try to follow the [README_PODMAN.md](https://github.com/containers/dnsname/blob/41c9f66b68968988f4eec21c220a6dba19497596/README_PODMAN.md) but it doesn't work at step:
[code]
I'm not a specialist of the network can you help me, because it seems the dns don't work correctly in the containers in a WSL/Windows environment.

Podman info:
[code]
The resolv.conf of my host ubuntu/wsl
[code]
The /e

[2022-02-24 12:54] pracquet commented on #89
after restart of pc all is running sorry for disturbing

[2022-02-24 12:54] #89 closed

[2022-03-11 19:15] nibbles-bytes opened #90 "Can't install: "install: cannot stat 'bin/dnsname': No such file or directory""
I'm trying to install this plugin but I'm not able to run the make command. Any ideas?
OS: Fedora 35
[code]
[code]
I cloned the repo via:
[code]

Then ran the make command
[code]

Looking in the Makefile is something not getting set correctly with this line maybe?
[code]

[2022-03-11 23:17] baude commented on #90
If you are using podman 4.0.2, I can only assume you got them from the podman4 copr repo.  As such, it should have installed netavark and aardvark-dns packages.  These replace container networking plugins (cni) and dns name.

If you ran podman v3 on this machine, then run `podman system reset --force`.  Note this will destroy all images, containers, and networks.

[2022-03-14 13:55] nibbles-bytes commented on #90
Ah yes that makes sense now. I forgot about the network changes. Thanks!

[2022-03-14 13:55] #90 closed

[2022-03-22 19:27] Reizake opened #91 "install: cannot stat 'bin/dnsname': No such file or directory"
Hello I have been attempting to follow the install guide to add dnsnames, I am having a problem though with this step:

I am not sure what I am doing wrong here. I am very new to Linux so I apologize if this is a basic question.

[2022-03-27 15:29] farnoy opened #92 "Only one container from a pod ends up in addnhosts"
I have a pod like with 2 containers + infra

[code]

But only the first one gets registered in /etc/hosts of other containers in the network, as shown by:

[code]

Why isn't my other container accessible by name?

[2022-03-27 15:30] farnoy commented on #92
Ugh, the dns name is the pod's name, not any container's. I only realized after submitting it 🤦

[2022-03-27 15:30] #92 closed

[2022-04-02 19:03] HectorMRC commented on #91
did you executed `make binaries` before `make install` ?

[2022-05-29 16:46] HectorMRC opened #97 "make validate fails with No such file or directory"
I am getting the following issue when executing `make validate` for PR #93

[code]

[2022-05-29 16:59] #97 closed

[2022-05-29 17:06] HectorMRC commented on #97
nevermind, I forgot to fetch upstream

[2022-07-22 08:21] Noext commented on #91
i got the same issue as the author, make binaries was not on the readme

[2022-09-01 11:05] djoreilly commented on #86
`podman-compose -d` is just calls `podman -d` - https://github.com/containers/podman-compose/blob/9d5b2559274819e3b47230da85d4d306807bb4bf/podman_compose.py#L2440-L2442 .

The issue is not specific to podman-compose. With podman 3.4.4 and dnsname 1.3.1 entries for detached containers don't get removed from addnhosts when the container exits.

[code]

[2022-09-02 08:38] djoreilly commented on #86
After hacking the code to see the logs, I see this error

It should be ` /run/user/0/containers/cni/dnsname/net3`.

The shell that runs the podman command has
[code]
And there is this https://github.com/containers/dnsname/blob/664c7a61f51c60ce2315472f49a71615a522ab8f/plugins/meta/dnsname/config.go#L61-L67

So maybe after the `sleep 3` process exits, and because podman has detached and exited, some

[2022-09-27 10:25] dshenai commented on #22
Hi,

Is it possible to confirm that there is following is also an implicit assumption :
The dnsname service will refer to the host's /etc/resolve.conf to resolve any names that it can not, on its own

This means that the entries in container's /etc/resolv.conf (which could be referring to a DNS different than the one being referred by host) do not matter. Only host's resolve.conf is referred by dn

[2022-09-27 14:35] mheon commented on #22
Please be aware that dnsname has been deprecated, and replcaed by the Netavark/Aardvark network tools. These do not require external dependencies, a deliberate choice we made due to the experiences we had with dnsname. All development on this repo has halted as such.

[2022-10-09 13:54] akash0x53 commented on #55
Why this issue occurs? Any ways to reproduce this issue?